@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap')

*
  font-family: 'Open Sans', sans-serif
  font-size: 1rem

.container
  margin: 0 auto
  padding: 1rem
  width: 100%
  max-width: 30rem
